* {
    color: rgb(189, 189, 189);
    font-family: 'Courier New', Courier, monospace;
}
p {
    text-align: center;
    margin: auto;
  }
a {
    text-decoration: none;
}

body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
    font-size:xx-large;
}
h2{
    text-align: center;
}

.SocialMedia {
    position: fixed;
    bottom: 0;
}
.Built {
    position: fixed;
    bottom: 0;
    float: right;
    font-size: 75%
}

.Content p {
    text-align: center;
    width: 34%;
    max-width: 450px;
    font-size: x-large;
}

.Content2 {
    padding-top: 200px;
}
